<!DOCTYPE html>
<html>
  <head>
    <title>Address Form</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
      }
      
      form {
        width: 50%;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
      }
      
      h1 {
        text-align: center;
        margin-top: 0;
      }
      
      label {
        display: block;
        margin-bottom: 10px;
      }
      
      input[type="text"] {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
      }
      
      select {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
      }
      
      button[type="submit"] {
        background-color: #4CAF50;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        float: right;
      }
      
      button[type="submit"]:hover {
        background-color: #3e8e41;
      }
      
      .form-group {
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <form action="/address" method="post" >
      <h1>Shipping Address</h1>
      <div class="form-group">
        <label  for="city" >City:</label>
        <input value="{{city}}" type="text" id="city" name="city" value>
      </div>
      <div class="form-group">
        <label for="street">Street:</label>
        <input value="{{street}}" type="text" id="street" name="street">
      </div>
      <div class="form-group">
        <label for="house-number">House Number:</label>
        <input value="{{houseN}}" type="text" id="house-number" name="housenumber">
      </div>
      <button  type="submit">Submit</button>
    </form>
    <script>
      const sub = document.querySelector("button");
const city = document.querySelector("#city");
const street = document.querySelector("#street");
const houseN = document.querySelector("#house-number")
const params = new URLSearchParams(window.location.search);

        sub.addEventListener("click",()=>
        {
             fetch("https://ecommerce-new.onrender.com/checkout", {
     
    method: "POST",
     
    body: JSON.stringify({
        src:window.location.href.split("?")[1],
        address:{city:city.value,line1:street.value,line2:houseN.value},
        src: params.get("src"),
        p:params.get("p")

    }),
     
    headers: {
        "Content-type": "application/json; charset=UTF-8"
    }
})
  .then(response => response.json())
  .then(data =>window.location.href = data.url)
  .catch(error => console.error(error));
        })
    </script>
  </body>
</html>