<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Cart</title>
    <style>
      body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  h1 {
    text-align: center;
    margin: 50px 0;
  }
  
  table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
  
  th, td {
    text-align: left;
    padding: 10px;
  }
  
  th {
    background-color: #332E2E;
    color: #fff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  img {
    width: 100px;
    height: auto;
  }
  
  select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    background-color: #332E2E;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #4C4646;
    cursor: pointer;
  }
  
  .total-price {
    text-align: right;
    margin-top: 20px;
    margin-right: 10%;
    font-size: 24px;
  }
  
  .proceed-to-buy {
    background-color: #332E2E;
    color: #fff;
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    margin: 50px auto;
    display: block;
  }
  
  .proceed-to-buy:hover {
    background-color: #4C4646;
    cursor: pointer;
  } 
    </style>
  </head>
  <body>
    <h1>My Cart</h1>
    <table>
    
      <tbody>
        
      </tbody>
    </table>
    <div class="total-price">
      <span>Total:</span>

    </div>
    <button class="proceed-to-buy">Proceed to Buy</button>
    <script >
      const body = document.querySelector("tbody");
const total = document.querySelector(".total-price");
const price = document.createElement("span");
const probtn = document.querySelector("button");
total.appendChild(price)






let proArr = []
function createPro(product)
{
    const pro = document.createElement("tr");
    const title = document.createElement("td");
    const status = document.createElement("td");
    const image = document.createElement("td");
    const quantity = document.createElement("td");
    const price = document.createElement("td");
    const tdBtn = document.createElement("td");
    const deletebtn = document.createElement("button");
    const img = document.createElement("img");
    const select = document.createElement("select");

    deletebtn.textContent = "Delete";



    pro.id = product.pId;
    proArr.push(product.pId);


    pro.appendChild(title);
    pro.appendChild(image);
    pro.appendChild(status);
    pro.appendChild(quantity);
    pro.appendChild(price);
    pro.appendChild(tdBtn);
   
    title.textContent = product.title;
    status.textContent = product.status ? "in Stock":"out of Stock";
    price.textContent = `${product.price} EGP`;

    image.appendChild(img);
    img.src = product.img;
    img.alt = product.title;

     
    tdBtn.appendChild(deletebtn);

    quantity.appendChild(select);
    for(let i = 0;i<product.totalQuantity;i++)
    {
        const opt = document.createElement("option");
        opt.value = i+1
        opt.textContent = i+1;
        select.appendChild(opt)
    }
    select.selectedIndex = product.quantity - 1



    select.addEventListener("change",(e)=>
        {

          fetch("https://ecommerce-new.onrender.com/cart", {
            method: 'PUT',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({qt:e.target.value,proID:pro.id})
          })
          .then(response => response.json())
          .then(data => {
            // console.log('Success:', data);
          })
          .catch((error) => {
            // console.error('Error:', error);
          });
          location.reload()
        })

        deletebtn.addEventListener("click",()=>
        {
          fetch("https://ecommerce-new.onrender.com/cart", {
            method: 'PUT',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({dele:true,proID:pro.id})
          })
          .then(response => response.json())
          .then(data => {
            // console.log('Success:', data);
          })
          .catch((error) => {
            // console.error('Error:', error);
          });
          location.reload()
        })
   body.appendChild(pro);
   



}

const url = "https://ecommerce-new.onrender.com/cartproducts"

fetch(url, {
     
    method: "GET",
     
    
})
  .then(response =>  response.json())
  .then(data =>{
    data.products.forEach(element => {
     createPro(element)
  }
  
  )
  price.textContent =  `${data.totalPrice} EGP`;
  probtn.addEventListener("click",()=>{window.location.href = `/address?src=cart`})
})


    </script>
  </body>
</html>