<!DOCTYPE html>
<html>
<head>
	<title>Confirmation Code</title>
	<link rel="stylesheet" href="../dist/confirmPass.css">
</head>
<body>
	<div class="container">
			<label class="e" for="code">we sent you an email verification link on this email:{{email}}</label>
        <div class="resend-code">
			<button class="resendbtn" type="submit">resendCode</button>
			<p></p>
        </div>
	</div>
    <script src="../dist/resetpass.js"></script>
</body>
</html>