<!DOCTYPE html>
<html>
<head>
	<title>Welcome to our website</title>
	<link rel="stylesheet" href="/homepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" /><body>

	<header>
		<div class="logo">
			<img src="https://ecommerce-new.onrender.com/logo.png" alt="Logo">
		</div>
		
		<div class="user-links">
			<a href="{{cartLink}}" class="cart-link"><i class="fa fa-shopping-cart"></i> Cart</a>
			<a href="{{ordersLink}}" class="order-link"><i class="fa fa-list-alt"></i> Orders</a>
		    <a href="{{profileLink}}" class="account-link"><i class="fa fa-user"></i> profile</a>
       
			
		</div>
	</header>
	<main>
		<div class="products">
			
		</div>
	</main>
	<footer>
		<p>&copy;2023 mic's. All rights reserved.</p>
	</footer>
    <script src="/homepage.js">
		
	</script>
</body>
</html>