
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
}

header {
	background-color: #332E2E;
	color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.logo img {
	height: 50px;
}

.search-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.search-bar input[type="text"] {
	padding: 10px;
	border-radius: 5px;
	border: none;
}

.search-bar button[type="submit"] {
	padding: 7px 15px;
    background-color: white;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.user-links {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.user-links a {
	color: #fff;
	text-decoration: none;
	margin-left: 20px;
}

.fa-shopping-cart, .fa-list-alt, .fa-user {
	display: inline-block;
	font-size: 20px;
	margin-right: 5px;
}

main {
	min-height: fit-content;
	display: flex;
    padding: 20px;
    justify-content: center;

}

h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

.products {
	padding-top: 74px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.product {
	background-color: #f9f9f9;
	border-radius: 5px;
	box-shadow: 0 0 5px #ccc;
	margin: 10px;
	padding: 20px;
	width: 300px;
    cursor: pointer;
}

.product img {
	width: 100%;
}

.product h2 {
	font-size: 24px;
	margin-top: 10px;
}

.product .price {
	color: #666;
	font-size: 18px;
	margin: 10px 0;
}

.product .rating {
	font-size: 24px;
	margin: 10px 0;
}

.fa-star {
	margin-right: 5px;
}

.checked {
	color: orange;
}

.product .reviews {
	font-size: 14px;
	color: #999;
	margin-bottom: 10px;
}

.btn {
	background-color: #4CAF50;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 10px;
	width: 100%;
}

.buy-btn {
	margin-bottom: 10px;
}

.cart-btn {
	display: block;
	margin-top: 10px;
}
.sbbtn
{
    background-color: white;
    padding: 0 9px;
}
button i
{
    color:black
}

footer {
	background-color: #332E2E;
	color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
	padding: 20px;
    min-height: 80;
	text-align: center;
}