<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Cart</title>
    <link href="/CSS/cart.css" rel="stylesheet">
  </head>
  <body>
    <h1>My Cart</h1>
    <table>
    
      <tbody>
        
      </tbody>
    </table>
    <div class="total-price">
      <span>Total:</span>

    </div>
    <button class="proceed-to-buy">Proceed to Buy</button>
    <script src="/JS/cart.js"></script>
  </body>
</html>